/* Retirar toda margem e padding */
* {
    margin: 0; 
    padding: 0;
}

body {
    width: 100vw; /* define a largura da tela*/
    height: 100vh; /* define a altura da tela*/
    display: flex;
    flex-wrap: wrap;
    background: #d1ffdf;
    background: linear-gradient(90deg, rgba(209, 255, 223, 1) 50%, rgba(245, 255, 245, 1) 100%);
        
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* HEADER */
header {
    background-color: rgb(1, 77, 1);
    color: white;
    display: flex;

    align-items: center;
    height: 8vh;
    width: 100vw;
}
header img{
    margin: 8vh;
}


/* NAV */
nav {
    background-color: rgb(223, 223, 175);
    margin-left: 3vw;
    width: 15vw;
    height: 92vh;

    box-shadow: 
    5px 0 10px rgba(86, 117, 119, 0.2),
    -5px 0 10px rgba(86, 117, 119, 0.2);
}
nav li {
    list-style-type: none;
    padding: 5px;
}
nav a {
    text-decoration: none;
    color: black;
    padding: 3px;
}
nav ul {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-top: 5vh;
}


/*  MAIN */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    height: 90vh;
    width: 59vw;

    margin: 1vh 1vw 0px 1vw;
}
main h1{
    margin-top: 10px;
}


/*SECTION*/
section {
    background-color: aliceblue;
    height: 60vh;
    width: 59vw;
    padding-block: 30px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    box-shadow: 
    5px 0 10px rgba(86, 117, 119, 0.2),
    -5px 0 10px rgba(86, 117, 119, 0.2);
    border-radius: 10px;
}

/* ARTICLE */
article {
    background-color: rgb(209, 211, 219);
    margin-inline: 20px;
    height: 40px;
    display: flex;

    align-items: center;
    padding-left:20px ;
    gap: 20px;

    border-radius: 10px;
}
article input:focus {
    border-color: blueviolet;
}


/* DIV */
div {
    display: flex;
    flex-wrap: wrap;
}
div button {
    height: 50px;
    width: 200px;
    border-radius: 10px;
}
div button:hover {
    background-color: rgb(224, 247, 191);
    transform: translateY(-2px);
}


/* ASIDE */
aside {
    background-color: rgb(255, 255, 255);

    margin: 1vh 0 0 1vw;

    width: 20vw;
    height: 90vh;
}


/* Ajustes finos para telas muito pequenas (celular) */
@media (max-width: 800px) {
    nav ul {
        flex-direction: row;
        gap: 1vw;
        flex-wrap: wrap;
        justify-content: center;
        margin-block: 1vh;
    }
    nav {
        width: 100%;
        height: auto;
        margin-left: 0;
        box-shadow: 
            5px 5px 10px rgba(86, 117, 119, 0.2);
    }

    main {
        width: 98vw;
        height: 85%;
        margin: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    main h1 {
        text-align: center;
        width: 100%;
        margin-block: 10px;
    }

    aside {
        display: none;
    }

    body {
        flex-direction: column;
    }

    header {
        width: 100%;
    }

    section {
        width: 80%;
        height: 50vh;
    }

    div button {
        margin-top: 10px;
    }
}