/* Retirar toda margem e padding */
* {
    margin: 0; 
    padding: 0;
}

body {
    width: 100vw; /* define a largura da tela*/
    height: 100vh; /* define a altura da tela*/
    display: flex;
    flex-wrap: wrap;
    background: #d1ffdf;
    background: linear-gradient(90deg, rgba(209, 255, 223, 1) 50%, rgba(245, 255, 245, 1) 100%);
        
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* HEADER */
header {
    background-color: rgb(1, 77, 1);
    color: white;
    display: flex;

    align-items: center;
    height: 8vh;
    width: 100vw;
}
header img{
    margin: 8vh;
}


/* NAV */
nav {
    background-color: rgb(223, 223, 175);
    margin-left: 3vw;
    width: 15vw;
    height: 92vh;

    justify-items: center;
}
nav a, li {
    text-decoration: none;
    color: black;
    list-style-type: none;
}


/*  MAIN */
main {
    background-color: rgb(255, 255, 255);
    justify-items: center;

    height: 90vh;
    width: 59vw;

    margin: 10px 10px 0px 10px;
}


/* ASIDE */
aside {
    background-color: rgb(255, 255, 255);

    margin: 10px 0px 0px 10px;

    width: 20vw;
    height: 90vh;
}