/* Retirar toda margem e padding */
* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

body {
    width: 100vw; 
    height: 100vh;
    
    /* ALTERAÇÃO 1 tirei o flex daqui 
       se deixar flex no body, a tela de login vai ficar 
       tentando dividir espaço com o site,agora ta na div #conteudo-principal lá embaixo. */

    background: #d1ffdf;
    background: linear-gradient(90deg, rgba(209, 255, 223, 1) 50%, rgba(245, 255, 245, 1) 100%);
        
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* HEADER */
header {
    background-color: rgb(1, 77, 1);
    color: white;
    display: flex;
    align-items: center;
    height: 8vh;
    width: 100vw;
}
header img{
    margin: 8vh;
}
.btn-sair {
    margin-left: auto;
    margin-right: 2vw;
    background-color: #ff4d4f;
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: background 0.3;
}

.btn-sair:hover{
    background-color: #cc0000;
}



/* NAV */
nav {
    background-color: rgb(223, 223, 175);
    margin-left: 3vw;
    width: 15vw;
    height: 92vh;
    box-shadow: 
    5px 0 10px rgba(86, 117, 119, 0.2),
    -5px 0 10px rgba(86, 117, 119, 0.2);
}
nav li {
    list-style-type: none;
    padding: 5px;
}
nav a {
    text-decoration: none;
    color: black;
    padding: 3px;
}
nav ul {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-top: 5vh;
}

/* MAIN */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 90vh;
    width: 59vw;
    margin: 1vh 1vw 0px 1vw;
}
main h1{
    margin-top: 10px;
}
.entrada-data{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
/*SECTION*/
section {
    background-color: aliceblue;
    height: 60vh;
    width: 59vw;
    padding-block: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 
    5px 0 10px rgba(86, 117, 119, 0.2),
    -5px 0 10px rgba(86, 117, 119, 0.2);
    border-radius: 10px;
}

/* ARTICLE */
article {
    background-color: rgb(209, 211, 219);
    margin-inline: 20px;
    margin-bottom: 5px;
    height: 40px; 
    display: flex;
    align-items: center;
    padding-left:20px ;
    gap: 20px;
    border-radius: 10px;
    justify-content: space-between;
}
ul{
    list-style: none;
}
.criando-lista{
    flex: 1;
    overflow-y: auto;
}
article input{
    border: none;
    border-radius: 5px;
    text-align: center;
}
article input:focus {
    border-color: blueviolet;
}
article button {
    height: 25px;
    width: 150px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.adicionar:hover {
    cursor: pointer;
    background-color: rgb(224, 247, 191);
    transform: translateY(-2px);
}
.deletar:hover {
    cursor: pointer;
    background-color: rgb(220,20,60);
    transform: translateY(-2px);
}
span{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icone-star{
    cursor: pointer;
    color: #ccc;
    font-variation-settings: 'FILL' 0;
    transition: color 0.3s;
    user-select: none;
}
.icone-star.active{
    color: #ffd700;
    font-variation-settings: 'FILL' 1;
}


/* ASIDE */
aside {
    background-color: white;
    height: fit-content;
    box-shadow: 5px 5px 10px rgba(86, 117, 119, 0.2);
    border-radius: 10px;
    overflow: hidden;
    width: 20%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 0;
}
#calendario {
    background-color: transparent;
    display: grid;
    width: 100%;
    height: auto;
    gap: 5px;
    box-shadow: none;
    grid-template-columns: repeat(7, 1fr); 
    padding: 10px;
    border-radius: 0 0 10px 10px;
}
#calendario article{
    width: 100%;
    height: auto;
    padding: 5px;
    font-size: 12px;
    margin: 0;
    justify-content: center;
}
.dia-da-semana-header{
    background-color: transparent;
    font-weight: bold;
    justify-content: center;
    border: none;
}
.controle-do-mes{
    background-color: white;
    width: 100%;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Ajustes para celular */
@media (max-width: 800px) {
    nav ul {
        flex-direction: row;
        gap: 1vw;
        flex-wrap: wrap;
        justify-content: center;
        margin-block: 1vh;
    }
    nav {
        width: 100%;
        height: auto;
        margin-left: 0;
        box-shadow: 5px 5px 10px rgba(86, 117, 119, 0.2);
    }
    main {
        width: 98vw;
        height: 85%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    main h1 {
        text-align: center;
        width: 100%;
        margin-block: 10px;
    }
    aside {
        display: none;
    }
    body {
        flex-direction: column;
    }
    
    /*  ALTERAÇÃO 2 Adicionadi isso para manter o mobile funcionando */
    #conteudo-principal {
        flex-direction: column;
    }

    header {
        width: 100%;
    }
    section {
        width: 80%;
        height: 50vh;
    }
    div button {
        margin-top: 10px;
    }
}

/*Parte de Login

/* Estilo para a tela de Login ficar centralizada */
#tela-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw; /* Garante tela cheia */
    background-color: #f4f4f9;
    gap: 15px;
    
    /* Garante que fique por cima de tudo enquanto estiver visível */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999; 
}

#tela-login input {
    padding: 12px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#tela-login button {
    padding: 10px 20px;
    background-color: rgb(1, 77, 1);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#conteudo-principal {
    display: none; /* Começa invisível */
    width: 100vw;
    height: 100vh;
}

div#conteudo-principal[style*="display: block"] {
    display: flex !important;
    flex-wrap: wrap;
}