<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../img/logo2.png" type="image/x-icon">
</head>
<body>

    <header>
        <img src="../img/logo2.png" width="60px" height="60px" alt="logo" id="logo-header">
        <h2>To-do List</h2>
    </header>

    <nav>
        <ul>
            <li><a href="#">Inbox</a></li>
            <li><a href="#">Today</a></li>
            <li><a href="#">Work</a></li>
            <li><a href="#">Upcoming</a></li>
            <li><a href="#">Personal</a></li>
            <li><a href="#">Groceries</a></li>
            <li><a href="#">Fitness</a></li>
        </ul>
    </nav>

    <main>
        <h1>Tarefas</h1>
        <section>
            <article><input type="checkbox">Tarefa1</article>
            <article><input type="checkbox">Tarefa2</article>
            <article><input type="checkbox">Tarefa3</article>
        </section>
        <div>
            <button>+ Adicionar Tarefa</button>
        </div>
    </main>

    <aside>
        <p>Dados</p>
    </aside>

</body>
</html>