<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <header>
        <img src="../img/logo.png" alt="logo">
        <h1>To-do List</h1>
    </header>

    <nav>
        <ul>
            <li><a href="#">Inbox</a></li>
            <li><a href="#">Today</a></li>
            <li><a href="#">Work</a></li>
            <li><a href="#">Upcoming</a></li>
            <li><a href="#">Personal</a></li>
            <li><a href="#">Groceries</a></li>
            <li><a href="#">Fitness</a></li>
        </ul>
    </nav>
</body>
</html>