<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list</title>
    <link rel="shortcut icon" href="../img/logo2.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body id="login-body">
    <main id="login-main">
        <h1 class="title">Bem-vindo</h1>
        <p class="subtitle">Entre para continuar</p>
        <input type="text" placeholder="Usuario" class="button" id="user">
        <input type="text" placeholder="Senha" class="button" id="password">
        <button class="button">Login</button>
        <p class="subtitle">Não tem conta? <a href="#">Registre-se</a></p>
    </main>
</body>
</html>