<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list</title>
    <link rel="shortcut icon" href="../img/logo2.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body id="login-body">
    <main id="login-main">
        <h1 class="title">Bem-vindo</h1>
        <p class="subtitle">Registre-se para continuar</p>
        <input type="email" placeholder="Email" id="email">
        <input type="text" placeholder="Usuario" id="user">
        <input type="password" placeholder="Senha" id="password">
        <button id="register">Registre</button>
        <p class="subtitle">Já tem conta? <a href="#">Login</a></p>
    </main>
</body>
</html>